@charset "utf-8";
/* CSS Document */
*{scroll-behavior: smooth;}
::-webkit-scrollbar{display: none;}
p{font-family: "Abril Fatface";}
h1,h2,h3,h4,h5,h6{font-family: "Cambria";}
nav{
	background-size: contain;
	background-position: center;
	background-image: url("../img/H-1.png");
}
footer{
	box-sizing: content-box;
	background-size: cover;
	background-position: center;
	background-image: url("../img/H-4.png");
}
.font-1{font-size: 13px;}
.font-2{font-size: 18px;}
.font-3{font-size: 24px;}
.font-4{font-size: 32px;}
.font-5{font-size: 36px;}
.font-6{font-size: 48px;}
@media (min-width: 375px){
	footer .container{flex-wrap: wrap;}
	footer .fl-1{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	footer .fl-2{width: 50%;}
	footer .fl-3{width: 50%;}
	footer .fl-4{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	footer .fl-5{width: 50%;}
	footer .fl-6{width: 50%;}
	.banner{height: 200px;}
	.banner-2{height: 110px;}
	.ban-l,.ban-r{
		width: 85px;
		height: 70px;
	}
	.produ .aside,.bside{width: 100%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 205px) rotate(-10deg);}
		100%{transform: translate(-20%, 205px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
@media (min-width: 576px){
	footer .container{flex-wrap: wrap;}
	footer .fl-1{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	footer .fl-2{width: 50%;}
	footer .fl-3{width: 50%;}
	footer .fl-4{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	footer .fl-5{width: 50%;}
	footer .fl-6{width: 50%;}
	.banner{height: 295px;}
	.banner-2{height: 180px;}
	.ban-l,.ban-r{
		width: 135px;
		height: 115px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 275px) rotate(-10deg);}
		100%{transform: translate(-20%, 275px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 150px) rotate(-10deg);}
		100%{transform: translate(15%, 150px) rotate(10deg);}
	}
}
@media (min-width: 768px){
	footer .container{flex-wrap: wrap;}
	footer .fl-1{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	footer .fl-2{width: 50%;}
	footer .fl-3{width: 50%;}
	footer .fl-4{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	footer .fl-5{width: 50%;}
	footer .fl-6{width: 50%;}
	.banner{height: 375px;}
	.banner-2{height: 245px;}
	.ban-l,.ban-r{
		width: 180px;
		height: 150px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 335px) rotate(-10deg);}
		100%{transform: translate(-20%, 335px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
@media (min-width: 992px){
	footer .container{flex-wrap: nowrap;}
	footer .fl-1{
		display: block;
		width: 41.66666667%;
		padding-right: 3rem;
	}
	footer .fl-2{width: 16.66666667%;}
	footer .fl-3{width: 16.66666667%;}
	footer .fl-4{
		width: 25%; 
		display: block;
	}
	footer .fl-5{width: 100%;}
	footer .fl-6{width: 100%;}
	.banner{height: 490px;}
	.banner-2{height: 320px;}
	.ban-l,.ban-r{
		width: 240px;
		height: 200px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 420px) rotate(-10deg);}
		100%{transform: translate(-20%, 420px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
@media (min-width: 1200px){
	footer .container{flex-wrap: nowrap;}
	footer .fl-1{
		display: block;
		width: 41.66666667%;
		padding-right: 3rem;
	}
	footer .fl-2{width: 16.66666667%;}
	footer .fl-3{width: 16.66666667%;}
	footer .fl-4{
		width: 25%; 
		display: block;
	}
	footer .fl-5{width: 100%;}
	footer .fl-6{width: 100%;}
	.banner{height: 570px;}
	.banner-2{height: 390px;}
	.ban-l,.ban-r{
		width: 285px;
		height: 240px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 470px) rotate(-10deg);}
		100%{transform: translate(-20%, 470px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
@media (min-width: 1400px){
	footer .container{flex-wrap: nowrap;}
	footer .fl-1{
		display: block;
		width: 41.66666667%;
		padding-right: 3rem;
	}
	footer .fl-2{width: 16.66666667%;}
	footer .fl-3{width: 16.66666667%;}
	footer .fl-4{
		width: 25%; 
		display: block;
	}
	footer .fl-5{width: 100%;}
	footer .fl-6{width: 100%;}
	.banner{height: 650px;}
	.banner-2{height: 450px;}
	.ban-l,.ban-r{
		width: 330px;
		height: 280px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 525px) rotate(-10deg);}
		100%{transform: translate(-20%, 525px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
@media (min-width: 1600px){
  footer .container{flex-wrap: nowrap;}
	footer .fl-1{
		display: block;
		width: 41.66666667%;
		padding-right: 3rem;
	}
	footer .fl-2{width: 16.66666667%;}
	footer .fl-3{width: 16.66666667%;}
	footer .fl-4{
		width: 25%; 
		display: block;
	}
	footer .fl-5{width: 100%;}
	footer .fl-6{width: 100%;}
	.banner{height: 675px;}
	.banner-2{height: 520px;}
	.ban-l,.ban-r{
		width: 350px;
		height: 290px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 575px) rotate(-10deg);}
		100%{transform: translate(-20%, 575px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
@media (min-width: 1900px){
  footer .container{flex-wrap: nowrap;}
	footer .fl-1{
		display: block;
		width: 41.66666667%;
		padding-right: 3rem;
	}
	footer .fl-2{width: 16.66666667%;}
	footer .fl-3{width: 16.66666667%;}
	footer .fl-4{
		width: 25%; 
		display: block;
	}
	footer .fl-5{width: 100%;}
	footer .fl-6{width: 100%;}
	.banner{height: 700px;}
	.banner-2{height: 620px;}
	.ban-l,.ban-r{
		width: 420px;
		height: 350px;
	}
	.produ .aside,.bside{width: 50%;}
	@keyframes lim-up{
		0%{transform: translate(-20%, 625px) rotate(-10deg);}
		100%{transform: translate(-20%, 625px) rotate(10deg);}
	}
	@keyframes lim-down{
		0%{transform: translate(15%, 50px) rotate(-10deg);}
		100%{transform: translate(15%, 50px) rotate(10deg);}
	}
}
.hidden{overflow: hidden;}
.ban-l,.ban-r{position: relative;}
.ban-l{
	left: 0;
	animation: lim-up 2s linear infinite alternate;
}
.ban-r{
	right: 0;
	animation: lim-down 2s linear infinite alternate;
}
.ban-main{
	width: 85%;
	position: relative;
	transform: translate(5%, -100%);
}
.ban-content{
	z-index: 2;
	position: relative;
	transform: translate(0, -175%);
}
.ban-bt{
	width: 100%;
	position: relative;
}
.ban-btl{
	z-index: 1;
	position: relative;
	transform: translate(25%, -75%);
}
.ban-btr{
	z-index: 1;
	position: relative;
	transform: translate(-25%, -75%);
}
.content{
	z-index: 2;
	text-align: center;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/B-3.png");
}
.fw{
	left: 0vw;
	position: absolute;
	transform: translateY(-85%);
}
.transup{transform: translateY(-50px);}
.content-bg-1{
	background-position: left, right;
	background-size: contain, contain;
	background-repeat: no-repeat,no-repeat;
	background-image: url("../img/B-4.png"), url("../img/B-4-2.png");
}
.content-bg-2{
	background-position: left, right;
	background-size: contain, contain;
	background-repeat: no-repeat,no-repeat;
	background-image: url("../img/B-5.png"), url("../img/B-5-2.png");
}
.content-bg-3{
	background-position: left, right;
	background-size: contain, contain;
	background-repeat: no-repeat,no-repeat;
	background-image: url("../img/B-6.png"), url("../img/B-6-2.png");
}
.content-bg-4{
	background-position: left, right;
	background-size: contain, contain;
	background-repeat: no-repeat,no-repeat;
	background-image: url("../img/B-7.png"), url("../img/B-7-2.png");
}
.content-bg-5{
	background-position: left, right;
	background-size: contain, contain;
	background-repeat: no-repeat,no-repeat;
	background-image: url("../img/B-11.png"), url("../img/B-11-2.png");
}
.rotate{
	position: relative;
	transform: rotate(180deg);
}
.produ .aside,.bside{min-width: 320px;}
.produ .aside-info p{
	z-index: 1;
	position: relative;
	transform: translate(50px, 25px);
}
.produ .aside-info img{transform: translateX(-25px);}
.wrap-line{min-width: 200px;}
.bg-1{
	background-size: cover;
	background-position: center;
	background-image: url("../img/S-6.png");
}
.bg-2{
	background-size: auto;
	background-position: center;
	background-image: url("../img/S-7.png");
}
.bg-3{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/Bann-9.png");
}
.bg-4{
	min-height: 400px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: top left, top right, bottom right,bottom left;
	background-image: url("../img/B-9.png"), url("../img/B-9-2.png"), url("../img/B-9-3.png"), url("../img/B-9-4.png");
}
.bg-4 input::placeholder{
	color: #683B31;
	font-size: 18px;
	font-style: "Abril Fatface";
}
.bg-5{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/S-8.png");
}
.d-grid{
	grid-gap: 50px 50px;
	grid-template-columns: auto auto auto auto;
}
.grid-pd{
	width: 200px;
	height: 350px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/B-1.png");
}
.grid-pd-2{
	width: 175px;
	height: 275px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/B-2.png");
}
.grid-pd-2 a{text-decoration: none;}
.grid-pd-2 img{
	max-height: 100%;
	width: 100%;
}
.wrap-pd{
	width: 300px;
	height: 300px;
}
.wrap-pd:nth-child(1){background-image: url("../img/S-1.png");}
.wrap-pd:nth-child(2){background-image: url("../img/S-2.png");}
.wrap-pd:nth-child(3){background-image: url("../img/S-3.png");}
.wrap-pd:nth-child(4){background-image: url("../img/S-4.png");}
.wrap-pd:nth-child(5){background-image: url("../img/S-5.png");}
.wrap-pd-2{
	height: 100%;
	background: #E1E1E1;
	opacity: 0;
	transition: 1s;
}
.wrap-pd-2:hover{opacity: 0.75;}
.scale-pd{
	color: #fff;
	width: 550px;
	height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.scale-pd:nth-child(1){background-image: url("../img/M-1.png");}
.scale-pd:nth-child(2){background-image: url("../img/M-2.png");}
.scale-pd:nth-child(3){background-image: url("../img/M-3.png");}
.scale-pd:nth-child(4){background-image: url("../img/M-4.png");}
.scale-pd:nth-child(5){background-image: url("../img/M-5.png");}
.scale-pd:nth-child(6){background-image: url("../img/M-6.png");}
.scale-pd-2{
	height: 100%;
	transition: 1s;
	background-color: rgba(104,59,49,0.75);
}
.scale-pd:hover .scale-pd-2{
	opacity: 0;
	border-radius: 10%;
	transform: translateX(-135%)scale(0.5);
}
.end-page{transform: translateY(10%);}
.database button{
	color: #683B31;
	font-family: "Abril Fatface";
}
.database button:hover{
	color: #fff;
	background-color: #683B31;
}
.database-2 button{font-family: "Abril Fatface";}