@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	min-width: 800px;
	max-width: 1280px;
	min-height: 1500px;
	background: var(--white);
}
header{ 
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: 1s;
	padding: 0 50px;
	position: fixed;
	box-sizing: border-box;
	justify-content: center;
	background: var(--black);
}
header.sticky{
	height: 100px;
}
header .banner{
	background-color: brown;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 1s;
	object-fit: cover;
	position: absolute;
}
header.sticky .banner{
	opacity: 0.75;
}
header .logo{
	top: 50%;
	left: 50%;
	z-index: 1;
	transition: 1s;
	font-size: 15vw;
	padding: 0 50px;
	font-weight: 700;
	position: absolute;
	color: var(--white);
	text-decoration: none;
	transform: translate(-50%,-50%);
}
header.sticky .logo{
	position: absolute;
	font-size: 2em;
	left: 50px;
	transform: translate(0,-50%);
}
nav{
	float: right;
	position: relative;
}
nav ul{
	margin: 0;
	opacity: 0;
	display: flex;
	transition: 1s;
	padding: 30px 0;
	position: relative;
	transform: translateX(100px);
}
header.sticky nav ul{
	opacity: 1;
	transition-delay: 0.75s;
	transform: translateX(0);
}
nav li{
	list-style: none;
}
nav a{
	padding: 10px 15px;
	color: var(--white);
	display: inline-block;
	text-decoration: none;
}
nav a:hover{
	color: var(--white);
}

