@charset "utf-8";
/* CSS Document */
middle{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	align-items: center;
	justify-content: center;
}



.glassmorphsim{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	background: rgba(255,255,255,0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
}



.button01{
	background: #020024;
	background: linear-gradient(155deg,#020024 0%,red 0%,#ffab00 12%,#e0ff00 24%,#00ff08 36%,#00e4ff 48%,#0005ff 60%,#fe00e7 72%,red 84%,#ffa200 96%);
	width: 14em;
	height: 7em;
	margin: 1em;
	border-radius: 1em;
	position: relative;
	animation: gradient 55s linear infinite;
}
.button01::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background: inherit;
	position: absolute;
	filter: blur(8px);
}
.button01 .btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #ffffff;
	background-image: linear-gradient(147deg,#ffffff 0%,rgba(179,179,179,1.00));
	width: 9.8em;
	height: 3.3em;
	text-align: center;
	text-decoration: none;
	padding: 1.1em;
	color: #000;
	font-size: 1.1em;
	letter-spacing: 1px;
}
@keyframes gradient {
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 18.75em 31.25em;
	}
	100%{
		background-position: 0.1em 0.1em;
	}
}